.calculator{
    height: 320px ;
    width: 235px;
    padding: 32px;     
    
    overflow: hidden;
    
    
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
    /* column-gap: 1px; */
    /* row-gap: 1px; */

}


